body {
  font-family: 'Gemunu Libre', sans-serif;
  background: linear-gradient(12deg, #3e5151, #decba4);
}

form {
  border: none;
}

h1 {
  text-align: center;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 300px;
  border-radius: 60%;
}

.container {
  padding: 16px;
  background-color: whitesmoke;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.loginbtn {
  background-color: green;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: 'Gemunu Libre', sans-serif;
}

.loginbtn:hover {
  opacity: 0.8;
}

p {
  text-align: center;
}

.register {
  text-align: center;
}
